.wrapper {
    margin-top: 100px;
    max-width: 1200px;
    width: 80%;
    height: 80%;
    border: 2px solid hotpink;
    border-right-color: yellow;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}