.title {
    font-size: 80px;
    font-family: "Anton Regular", sans-serif;
    text-align: center;
}

.loginBox {
    max-width: 500px;
    height: 300px;
    border: 1px solid hotpink;
    margin: 20px auto;
}

.loginContents {
    margin-top: 20px
}
