.title {
    font-size: 80px;
    font-family: "Anton Regular", sans-serif;
    text-align: center;
}

.pink {
    color: hotpink;
}

.yellow {
    color: yellow;
}

.loginBox {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    height: 200px;
    border: 2px solid hotpink;
    margin: 20px auto;
}

.fieldWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.usernameInput {
    font-family: monospace;
}
